<footer>
  <p class="text-center">
    <strong>This &amp; That Cafe</strong>
    <br />Indian Restaurant / Cafe <br />Soap St, Manchester <br />M4 1EW {% if site.phone_number %}
    <br />
    <a href="tel:{{ site.phone_number | replace(' ', '') }}">
      {{ site.phone_number }}
    </a>
    {% endif %}
    <br />
    <a href="/news">News / Press</a> / <a href="/reviews">Reviews</a> /
    <a href="/frequently-asked-questions">FAQs</a>
    {% if page.url == "/" or page.url == "/index.html" %}
      <br />
      <a rel="nofollow" href="https://chobble.com/examples/this-and-that/">site by chobble.com</a>
    {% endif %}
  </p>
</footer>
