<script type="application/ld+json"> 
    {
      "@context": "http://www.schema.org",
      "@type": "Restaurant",
      "name": "This & That Cafe",
      "url": "https://www.thisandthatcafe.co.uk",
      "telephone": "+441618324971",
      "servesCuisine": "Indian",
      "priceRange": "$",
      "image": "https://www.thisandthatcafe.co.uk/assets/banner-1800.jpg",
      "sameAs": [
        "https://goo.gl/maps/XSSrN4gfz2L2",
        "https://www.facebook.com/ThisAndThatManchester",
        "http://www.theskinny.co.uk/whats-on/manchester/restaurants/this-that",
        "http://www.keytothecity.co.uk/foodanddrink.php?Id=860&CityId=17&From=Key&Enabled=No",
        "https://restaurantguru.com/This-and-That-Manchester",
        "https://www.yell.com/biz/this-and-that-manchester-1136510/",
        "https://foursquare.com/v/this--that/4bacb73bf964a5204f063be3",
        "https://www.timeout.com/manchester/restaurants-and-cafes/this-that",
        "https://www.zomato.com/manchester/this-that-northern-quarter/menu",
        "https://www.happytrips.com/manchester/this-that/ps58023267.cms",
        "https://www.yelp.com/biz/this-and-that-manchester",
        "https://www.tripadvisor.com/Restaurant_Review-g187069-d732222-Reviews-This_That-Manchester_Greater_Manchester_England.html"
      ],
      "description": "A family run business established in 1984, we’re one of Manchester’s favourite Indian Curry Houses. We offer a huge choice of delicious curries and are located in the heart of the Northern Quarter, tucked away on Soap Street.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "3 Soap St",
        "addressLocality": "Manchester",
        "addressRegion": "Greater Manchester",
        "postalCode": "M4 1EW",
        "addressCountry": "United Kingdom"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "53.484718",
        "longitude": "-2.238091"
      },
      "hasMap": "https://goo.gl/maps/XSSrN4gfz2L2",
      "hasMenu": "https://www.thisandthatcafe.co.uk/menu/",
      "acceptsReservations": false,
      "openingHours": ["Su-Th 11:30-20:00", "Fr, Sa 11:30-22:00"],
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "reservations",
        "telephone": "+44 (0) 161 832 4971"
      }
    }
</script>