<ul class="social-links">
  <li class="social-links__list">
    <i class="social-links__icon icon-facebook"></i>
    <a
      rel="noopener"
      class="social-links__link"
      href="https://www.facebook.com/ThisAndThatManchester"
      target="_blank"
    >
      <strong>Like</strong> T&amp;T on
      <strong>Facebook</strong>
    </a>
  </li>
  <li class="social-links__list">
    <i class="social-links__icon icon-google"></i>
    <a
      rel="noopener"
      class="social-links__link"
      href="https://goo.gl/maps/xTNreANmJEz"
      target="_blank"
    >
      <strong>Review</strong> T&amp;T on
      <strong>Google</strong>
    </a>
  </li>
  <li class="social-links__list">
    <i class="social-links__icon icon-tripadvisor"></i>
    <a
      rel="noopener"
      class="social-links__link"
      href="https://www.tripadvisor.com/Restaurant_Review-g187069-d732222-Reviews-This_That-Manchester_Greater_Manchester_England.html"
      target="_blank"
    >
      <strong>Review</strong> T&amp;T on
      <strong>TripAdvisor</strong>
    </a>
  </li>
  <li class="social-links__list">
    <img
      class="social-links__icon icon-happycow"
      loading="lazy"
      src="/assets/happycow.png"
      alt=""
    />
    <a
      rel="noopener"
      class="social-links__link"
      href="https://www.happycow.net/reviews/this-that-cafe-manchester-331015"
      target="_blank"
    >
      <strong>Review</strong> T&amp;T on
      <strong>HappyCow</strong>
    </a>
  </li>
  <li class="social-links__list">
    <i class="social-links__icon icon-foursquare"></i>
    <a
      rel="noopener"
      class="social-links__link"
      href="https://foursquare.com/v/this--that/4bacb73bf964a5204f063be3"
      target="_blank"
    >
      <strong>Check in</strong> on
      <strong>FourSquare</strong>
    </a>
  </li>
  {% if false %}
  <li class="social-links__list">
    <i class="social-links__icon icon-delivery"></i>
    <a
      rel="noopener"
      class="social-links__link"
      href="{{site.deliveroo_url}}"
      target="_blank"
    >
      <strong>Place an Order</strong> on
      <strong>Deliveroo</strong>
    </a>
  </li>
  {% endif %}
</ul>
