<div class="hidden-sm">
	<div class="embed-reviews margin--bottom">
		<div id="TA_selfserveprop139" class="TA_selfserveprop">
		</div>
		<script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=139&amp;locationId=732222&amp;lang=en_UK&amp;rating=true&amp;nreviews=5&amp;writereviewlink=false&amp;popIdx=true&amp;iswide=false&amp;border=false&amp;display_version=2"></script>
	</div>
	<div class="embed-reviews margin--bottom">
		<iframe title="Reviews from This and That's Facebook Page" loading="lazy" width="100%" height="400" src="https://www.facebook.com/v2.12/plugins/page.php?adapt_container_width=true&app_id=179012276202158&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dff9c0a898e5b1c%26domain%3Dwww.thisandthatcafe.co.uk%26origin%3Dhttps%253A%252F%252Fwww.thisandthatcafe.co.uk%252Ff2a8cfc78fa4cf8%26relation%3Dparent.parent&container_width=270&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2FThisAndThatManchester%2F&locale=en_US&sdk=joey&show_facepile=true&small_header=true&tabs=timeline"></iframe>
	</div>
</div>