---
layout: default
---

{% include "title.html" %}

<div class="img-thumbnail margin--bottom">
  <img
    id="alley"
    alt="A view down Soap St, Manchester - home of This &amp; That Cafe"
    srcset="
      /assets/banner-500.jpg   500w,
      /assets/banner-680.jpg   680w,
      /assets/banner-920.jpg   920w,
      /assets/banner-1800.jpg 1800w
    "
    sizes="(max-width: 1110px) 100vw, 1110px"
  />
</div>

<div class="row">
  <div class="col-md-8 page page--home margin--bottom">
    {{ content | safe }}
    <div class="hidden-sm embed-responsive embed-responsive-16by9 margin--top">
      <iframe
        credentialless
        title="This and That Cafe on Google Maps"
        class="embed-responsive-item"
        loading="lazy"
        sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        referrerpolicy="no-referrer"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.0902083389733!2d-2.24027968415632!3d53.48471798000824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1c30c61cde3%3A0x423b3eb199e7f3d1!2sThis+%26+That!5e0!3m2!1sen!2sbe!4v1520108311593"
      >
      </iframe>
    </div>
  </div>
  <div class="col-md-4">
    {% include "social-media-feeds.html" %} {% include "social-media-links.html" %}
  </div>
</div>
