---
layout: default
---

<article>
  <p class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/news/">Press &amp; Reviews</a></p>

  <div class="header">
    <h1 class="header__text">
      {% if icon %}
        <i class="header__icon icon-{{ icon }}"></i>
      {% endif %}
      {{ title | safe }}
      {% if subtitle %}
        <small class="header__subtitle"> {{ subtitle | safe }} </small>
      {% endif %}
    </h1>
  </div>
  <div class="content">
    <p>
      <em datetime="{{ page.date.toISOString() }}">
        {{ page.date | date("long") }}
      </em>
    </p>
    {{ content | safe }}
    {% if source %}
      <p><strong><a href="{{ source }}">Source</a></strong></p>
    {% endif %}
  </div>
</article>
