--- 
layout: default
---

{% include "title.html" %}

<div class="row">
	<div class="col-md-8 order-md-1 margin--bottom">
		<div class="page {{ cssClass }}">
			<ul class="post-list">
				{% for post in collections.posts %}
				<li>
					<span class="post-meta">{{ post.date | date("long") }}</span>
					<h5>
						<a class="post-link" href="{{ post.url }}">{{ post.data.title | safe }}</a>
						<br><small>{{ post.data.subtitle | safe }}</small>
					</h5>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-md-4 order-md-2 margin--bottom">
		{% include "right-column.html" %}
		<hr> {% include "social-media-links.html" %}
	</div>
</div>