--- 
layout: default
---

{% include title.html %}

<div class="row">
	<div class="col-md-8 order-md-1 margin--bottom">
		<div class="page {{page.cssClass}}">
			<ul class="post-list">
				{% for post in site.posts %}
				<li>
					{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
					<span class="post-meta">{{ post.date | date: date_format }}</span>
					<h5>
						<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
						<br><small>{{ post.subtitle | escape }}</small>
					</h5>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-md-4 order-md-2 margin--bottom">
		{% capture rightColumn %}{% include right-column.md %}{% endcapture %} {{ rightColumn | markdownify }}
		<hr> {% include social-media-links.html %}
	</div>
</div>